
// Styles for flex layout
.flex-container { 
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-item { 
    flex: 1;
}

.float-right { 
    float: right;
}

.main-view {
    margin: 0 0 0 20.5em;
    padding: 0 7em;
    width: 100%;

    @media screen and (max-width: $media-M) {
        margin: 0px 0px 0px 15em;
    }
    @media screen and (max-width: $media-XS) {
        margin: 0;
    }
}

// Styles for nav list items 
.nav-view {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    
    width: 20em;
    background-color: #eeeeee; 
    padding: 1.25em;

    @media screen and (max-width: $media-M) {
        width: 15em;
    }
    @media screen and (max-width: $media-XS) {
        display: none;
    }

    h2 {
        border-bottom: 0.125em solid $primary;
        width: 6.25em;
        padding-bottom: 0.5em;
        margin-bottom: 0em;
    }

    button {
        cursor: pointer;
        border: none;
        background-color: transparent;

        &:focus {
            outline:none;
        }
    }
    
    ul {
        padding: 0 1.25em;
        margin-bottom: 2em;

        li {
            padding: 1em 0;
            font-size: 1.25em;
            list-style: none;
        }
    }

    .menu-nav {
        li {
            text-align: left;
            //height: 3.5em;
            border-bottom: em(2px) solid rgba(196, 196, 196, 0.4);
            
            &:hover {
                list-style: initial;
            }

            button {
                text-align: left;
                //line-height: 1.625em;
            }

            button:hover {
                color: $primary;
                //text-decoration: underline;
            }
        }
    }

    .explore-nav {
        img {
            margin: 0px;
            width: 100%;
            height: 100%;
        }
    }
}

.section-article {
    padding: 0px 4em 0px 4em;
    margin-bottom: 10em;
    width: 100%;
    max-width: 80em;

    img {
        width: 100%;
        padding: 2.5em 0 0 0;
    }

    h1 {
        color: #ffffff;
        font-size: 3em;
        font-weight: 500;
        margin: em(-85px) em(0) em(75px) em(40px);
        text-transform: uppercase;
    }

    p, li {
        font-size: 1.4em;
        line-height: 1.4em;
        font-weight: 300;
        text-align: justify;
    }

    li {
        margin: 1em 0 0 0 ;
        padding: 0 1em;
    }
}

.section-article {
    &.references-page {
        p {
            font-size: 1.2em;
        }
    }

    &.contacts-page {
        .contacts-header_image {
            height: em(150px);
        }
    }
}