
// Styles for flex layout
.flex-container { 
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-item { 
    flex: 1;
}

.float-right { 
    float: right;
}

.app-view {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.main-view {
    margin: 0;
    padding: 0 7em;
    width: 100%;
}

// Styles for nav list items 
.nav-view {
    font-size: 0.9em;
    position: sticky;
    top: 0;
    
    width: 20em;
    min-width: 20em;

    min-height: 1400px;
    height: 100vh;
    background-color: #eeeeee; 
    padding: 1.25em;
    
    h2 {
        border-bottom: 0.125em solid $primary;
        width: 6.25em;
        padding-bottom: 0.5em;
        margin-bottom: 0em;
    }

    button {
        cursor: pointer;
        border: none;
        background-color: transparent;

        &:focus {
            outline:none;
        }
    }
    
    ul {
        padding: 0 1.25em;
        margin-bottom: 2em;

        li {
            padding: 1em 0;
            font-size: 1.25em;
            list-style: none;
        }
    }

    .nav-close {
        display: none;
    }

    .menu-nav {
        li {
            text-align: left;
            border-bottom: em(2px) solid rgba(196, 196, 196, 0.4);
            
            &:hover {
                list-style: initial;
            }

            button {
                text-align: left;
            }

            button:hover {
                color: $primary;
            }
        }
    }

    .explore-nav {
        img {
            margin: 0px;
            width: 100%;
            height: 100%;
        }
    }
}

.section-article {
    padding: 0 4em 0 4em;
    margin-bottom: 10em;
    width: 100%;
    max-width: 80em;

    img {
        width: 100%;
        padding: 2.5em 0 0 0;
    }

    h1 {
        color: #ffffff;
        font-size: 3em;
        font-weight: 500;
        margin: -2em 0em 2em 0.8em;
        text-transform: uppercase;
    }
    
    p, li {
        font-size: 1.2em;
        line-height: 1.4em;
        font-weight: 300;
        text-align: justify;
    }

    li {
        margin: 1em 0 0 0 ;
        padding: 0 1em;
    }

    .next-page-button {
        text-align: right;
    }
}

.side-view {
    animation: fadein 1s;
    
    top: 0;
    font-weight: 300;
    color: #444444;
    width: 7em;
    text-align: center;

    i { margin-right: 0.5em; }
    
    label { 
        display: block;
        padding: 1em 0.6em;
        border-bottom: 1px solid rgb(218, 220, 224); 
    }

    .side-view-background {
        position: fixed;
        right: 0;
        background-color: #fefefe;
        height: 100vh;
        width: 7em;
        text-align: center;
        box-shadow: 0 em(4px) em(8px) 0 rgba(0,0,0,0.2);
        border-left: 1px solid rgba(218, 220, 224, 0.5); 
    }
}

@keyframes fadein {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
}
