
@media screen and (max-width: $media-L) {

    .main-view {
        margin: 0;
        padding: 0 4em;
    }

    .section-article {
        padding: 0 2em;
        .blockquote { margin: 2em 1em; }
        ul { padding-left: 2em; }
        li {  padding: 0 0 0 1em; }
    }

    .interactive-panel {
        padding: 0 3em;
        
        .interactive-item {
            .interactive-prompt.expert, .interactive-prompt.novice {
                right: em(-120px);
            }
        }
    }
}

@media screen and (max-width: $media-M) {
    .nav-view {
        width: 18em;
    }
}

@media screen and (max-width: $media-S) {
    .main-view {
        margin: 0;
        padding: 0 2em;
    }

    .section-article {
        padding: 0 1em;
        .blockquote { margin: 2em 1em; }
        ul { padding-left: 2em; }
        li { padding: 0 0 0 1em; }
    }

    .interactive-panel {
        padding: 0 5em;
        
        .interactive-item {
            .interactive-prompt.expert, .interactive-prompt.novice {
                right: em(-60px);
            }
        }
    }
}

@media screen and (max-width: $media-XS) {

    .nav-view {
        display: none;

        &.nav-mobile-on {
            top:6.8em;
            width: 100%;
            text-align: center;
            display: block;
            position: fixed;
            left: 0;
            right: 0;
            z-index: 1;
            
            h2 {
                width: 100%;;
            }

            .menu-nav li {
                text-align: center;
            }
        } 
    }
}

