
@media screen and (max-width: $media-L) {

    .main-view {
        margin: 0;
        padding: 0 4em;
    }

    .section-article {
        padding: 0 2em;
        .blockquote { margin: 2em 1em; }
        ul { padding-left: 2em; }
        li {  padding: 0 0 0 1em; }
    }

    .interactive-panel {
        padding: 0;
        
        .interactive-item {
            .interactive-prompt.expert, .interactive-prompt.novice {
                right: em(-160px);
            }
        }
    }
}

@media screen and (max-width: $media-M) {
    .nav-view {
        width: 14.5em;
        min-width: 14.5em;
    }
}

@media screen and (max-width: $media-S) {
    .main-view {
        margin: 0;
        padding: 0 2em;
    }

    .section-article {
        padding: 0 1em;
        .blockquote { margin: 2em 1em; }
        ul { padding-left: 2em; }
        li { padding: 0 0 0 1em; }
    }

    .interactive-panel {
        padding: 0;
        
        .interactive-item {
            .interactive-prompt.expert, .interactive-prompt.novice {
                right: em(-128px);
            }
        }
    }
}

@media screen and (max-width: $media-XS) {

    .nav-view {
        display: none;

        &.nav-mobile-on {
            top:0em;
            width: 100%;
            text-align: center;
            display: block;
            position: fixed;
            left: 0;
            right: 0;
            z-index: 2;
            
            h2 {
                width: 100%;;
            }

            .nav-close {
                display: block;
                position: absolute;
                right: 1em;
                top: 1.5em;

                button {
                    padding: 0;
                    width: 3em;
                    height: 3em;
                    color: $primary;
                    &:hover {
                        color: #444444;
                    }
                }

                i {
                    top: -0.4em;
                    font-size: 2em;
                }
            }

            .menu-nav li {
                text-align: center;
            }
        } 
    }
}

