
@media screen and (max-width: $media-XL) {
    .section-article.findings-page {
        .reliability-chart-container {
            margin: 2em -12em;
        }
        .histogram-chart svg{ 
            transform: scale(0.9);
            left: 1em;
        }
        .table {
            transform: scale(0.9);
            right: 1em;
        }
    } 
}

@media screen and (max-width: $media-L) {

    .main-view {
        margin: 0;
        padding: 0 4em;
    }

    .section-article {
        padding: 0 2em;
        .blockquote { margin: 2em 1em; }
        ul { padding-left: 2em; }
        li {  padding: 0 0 0 1em; }
        p, li { font-size: 1.4em; }
    }
    
    .section-article.findings-page {
        .reliability-chart-container {
            margin: 2em 0em;
        }
        .histogram-chart svg{ 
            transform: scale(1);
            left: 0em;
        }
        .table {
            transform: scale(1);
            right: 0em;
        }
    } 

    .interactive-panel {
        padding: 0;
        
        .interactive-item {
            .interactive-prompt.expert, .interactive-prompt.novice {
                right: em(-160px);
            }

            .interactive-card {
                font-size: 0.9em;
            }
        }
    }
}

@media screen and (max-width: $media-M) {
    .nav-view {
        width: 14.5em;
        min-width: 14.5em;
    }
}

@media screen and (max-width: $media-S) {
    .main-view {
        margin: 0;
        padding: 0 2em;
    }

    .section-article {
        padding: 0 1em;
        .blockquote { margin: 2em 1em; }
        ul { padding-left: 2em; }
        li { padding: 0 0 0 1em; }
    }

    .interactive-panel {
        padding: 0;
        
        .interactive-item {
            .interactive-prompt.expert, .interactive-prompt.novice {
                right: em(-128px);
            }

            .interactive-card {
                font-size: 0.8em;
            }
        }
    }
}

@media screen and (max-width: $media-XS) {

    .nav-view {
        display: none;

        .menu-nav li {
            padding: 0.5em 0;
            button { font-size: 1.25em; }
        }

        .explore-nav img { 
            width: 10em;
        }

        &.nav-mobile-on {
            top:0em;
            width: 100%;
            text-align: center;
            display: block;
            position: fixed;
            left: 0;
            right: 0;
            z-index: 2;
            
            h2 {
                width: 100%;;
            }

            .nav-close {
                display: block;
                position: absolute;
                right: 1em;
                top: 1.75em;

                button {
                    padding: 0;
                    width: 3em;
                    height: 3em;
                    color: $primary;
                    &:hover {
                        color: #444444;
                    }
                }

                i {
                    top: -0.4em;
                    font-size: 2em;
                }
            }

            .menu-nav li {
                text-align: center;
            }
        } 
    }

    .interactive-panel {        
        .interactive-item {
            .interactive-card {
                font-size: 0.7em;
            }
        }
    }    

}

