
.section-article {
    &.references-page {
        p {
            font-size: 1.2em;
            text-align: left;
        }
    }

    &.findings-page {
        .pie-chart-container {
            margin: 2em 0;
            text-align: center;
        }

        .reliability-chart-container {
            margin: 2em 0em;
        }

        .chart-title {
            text-align: center;
        }

        .table {
            font-size: 0.9em;
            margin: 1em;
        }

    }
}
