
.section-article {
    &.references-page {
        p {
            font-size: 1.2em;
        }
    }

    &.contacts-page {
        .contacts-header_image {
            //height: 10.5em;
        }
    }
}
