// Media query sizes
$media-L: 1440px;
$media-M: 900px;
$media-S: 768px;
$media-S: 668px;

// Document level media queries
html {
    font-size: 16px;
}
@media screen and (max-width: $media-L) {
    html { font-size: 14px; }
}
@media screen and (max-width: $media-M) {
    html { font-size: 12px; }
}
@media screen and (max-width: $media-S) {
    html { font-size: 10px; }
}

// Styles for flex layout
.flex-container { 
    display: flex;
    flex-direction: row;
}

.flex-item { 
    flex: 1;
}

.float-right { 
    float: right;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    /* On mouse-over, add a deeper shadow */
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    }
}

.speech-bubble {
	position: relative;
	background: #c74542;
    border-radius: .4em;
    width: 60px;
    height: 40px;
    margin: 10px;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: #c74542;
        border-bottom: 0;
        border-right: 0;
        margin-left: -5px;
        margin-bottom: -10px;
    }
}

.button-group {
    margin: 20px 0;

    button {
        padding: 12px 20px;
        border: 1px solid rgba(196, 196, 196, 0.4);
        color: rgba(120, 120, 120, 1.0);

        &.active {
            border: 1px solid #192ABC;
            color: #192ABC;
            background-color: rgba(196, 196, 196, 0.2);
        }

        &:hover {
            border: 1px solid #192ABC;
            background-color: rgba(196, 196, 196, 0.2);
        }

        &:focus {
            outline:none;
        }

        &:first-of-type {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        &:last-of-type {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
}

.interactive-panel {
    position: relative;
    width: 100%;
    min-width: 600px;

    .interactive-explore-image {
        width: 100%;
        margin: 0;
    }

    .interactive-item {
        position: absolute;
        width: 100%;
        min-width: 600px;

        .interactive-prompt {
            position: absolute;
            width: 80px;
            height: 80px;
            padding: 0;
            border: none; 

            &.novice {
                left: -100px;

                .speech-bubble {
                    background: #f28258;
                    
                    &:after {
                        border-top-color: #f28258;
                    }
                }
            }

            &.expert {
                right: -100px;

                .speech-bubble {
                    background: #a5bde7;
                    
                    &:after {
                        border-top-color: #a5bde7;
                    }
                }
            }

            &:focus {
                outline:none;
            }

            .speech-bubble {
                &:hover {
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
                }
            }
        }

        .interactive-card {
            position: absolute;
            width: 25em;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
        }

        .interactive-avatar {
            width: 80px;
            height: 80px;
            margin-right: 20px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
            border-radius: 40px;
        }
    
        header {
            margin-bottom: 6px;
        }
        
        .interactive-name {
            font-size: 1.1em;
            font-weight: 600;
            text-transform: capitalize;
        }

        .interactive-handle {
            color: #444444;
        }

        .interactive-check {
            color: #1DA1F2;
            margin-right: 4px;
            font-size: 1.1em;
            line-height: 1.1em;
        }
        
        .interactive-actions {
            color: #444444;
            margin-top: 14px;
            i { margin-right: 50px; }
        }
    }
}

// Styles for nav list items 
.nav-view {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    
    width: 18em;
    background-color: #eeeeee; 
    padding: 1.25em;

    h2 {
        border-bottom: 0.125em solid #192ABC;
        width: 6.25em;
    }

    button {
        border: none;
        background-color: transparent;

        &:focus {
            outline:none;
        }
    }
    
    ul {
        padding: 0 1.25em;
        
        li {
            padding: 1em 0;
            font-size: 1.25em;
            list-style: none;
        }
    }

    .menu-nav {
        li {
            height: 27.5px;
            border-bottom: 2px solid rgba(196, 196, 196, 0.4);
            
            &:hover {
                list-style: initial;
            }

            button {
                line-height: 27.5px;
            }

            button:hover {
                color: #192ABC;
                text-decoration: underline;
            }
        }
    }

    .explore-nav {
        img {
            margin: 0px;
            width: 100%;
            height: 100%;
        }
    }
}

.main-view {
    margin: 0px 0px 0px 370px;
    padding: 0px 10em;
    
    .section-article {
        padding: 0px 100px 0px 100px;
        
        img {
            width: 100%;
            padding: 40px 0 0 0;
        }

        h1 {
            color: #ffffff;
            font-size: 3.75em;
            font-weight: 500;
            margin: -100px 0 75px 40px;
            text-transform: uppercase;
        }

        p {
            font-size: 1.5em;
            text-align: justify;
        }
    }
    
    .header {
        border-bottom: 2px solid #192ABC;

        .header-content {
            font-size: 1.6em;
            margin: 0.8em 0;
        }

        .fa-bars {
            color: #192ABC;  
            }

        .title {
            font-size: 1em;
            margin: 0 0 0 30px;
            font-weight: 400;
        }

        .authors {
            margin-right: 30px;
            font-size: 0.8em;
            font-weight: 200;
        }
    }
}
