
// Styles for flex layout
.flex-container { 
    display: flex;
    flex-direction: row;
}

.flex-item { 
    flex: 1;
}

.float-right { 
    float: right;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    /* On mouse-over, add a deeper shadow */
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    }
}

.button-group {
    margin: 20px 0;

    button {
        padding: 12px 20px;
        border: 1px solid rgba(196, 196, 196, 0.4);
        color: rgba(120, 120, 120, 1.0);

        &.active {
            border: 1px solid #192ABC;
            color: #192ABC;
            background-color: rgba(196, 196, 196, 0.2);
        }

        &:hover {
            border: 1px solid #192ABC;
            background-color: rgba(196, 196, 196, 0.2);
        }

        &:focus {
            outline:none;
        }

        &:first-of-type {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        &:last-of-type {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
}

.interactive-panel {
    position: absolute;
    width: 600px;

    .interactive-item {
        position: absolute;
        width: 300px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;

        header {
            margin-bottom: 6px;
        }

        .interactive-avatar {
            font-size: 30px;
            line-height: 30px;
        }
    
        .interactive-name {
            font-size: 20px;
        }
    }
}

// Styles for nav list items 
.nav-view {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    
    width: 330px;
    background-color: #eeeeee; 
    padding: 20px;

    h2 {
        font-size: 24px;
        border-bottom: 2px solid #192ABC;
        width: 100px;
    }

    button {
        border: none;
        background-color: transparent;

        &:focus {
            outline:none;
        }
    }
    
    ul {
        padding: 0 20px;

        li {
            padding: 15px 0;
            font-size: 20px;
            list-style: none;
        }
    }

    .menu-nav {
        li {
            height: 27.5px;
            border-bottom: 2px solid rgba(196, 196, 196, 0.4);
            
            &:hover {
                list-style: initial;
            }

            button {
                line-height: 27.5px;
            }

            button:hover {
                color: #192ABC;
                text-decoration: underline;
            }
        }
    }

    .explore-nav {
        img {
            margin: 0px;
            width: 100%;
            height: 100%;
        }
    }
}

.main-view {
    margin: 0px 0px 0px 330px;
    padding: 0px 200px;
    
    .section-article {
        padding: 0px 100px 0px 100px;
        
        img {
            width: 100%;
            padding: 40px 0 0 0;
        }

        h1 {
            color: #ffffff;
            font-size: 60px;
            font-weight: 500;
            margin: -100px 0 75px 40px;
            text-transform: uppercase;
        }

        text {
            font-size: 24px;
            text-align: justify;
        }
    }

    .section-explore {
        img {
            width: 100%;
            padding: 40px 0 0 0;
        }
    }

    .header {
        border-bottom: 2px solid #192ABC;

        h2 {
            font-size: 26px;
            font-weight: 400;
        }

        .title {
            margin-left: 30px;
        }

        .authors {
            margin-right: 30px;
            font-size: 20px;
            font-weight: 200;
        }

        .fa-bars {
        color: #192ABC;  
        }
    }
}
